# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# ensime file
.ensime*

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cache

# idea
.idea
*.iml

# sbt building
target/
project/boot/

# other scm
.svn
.CVS
.hg*

# ctags
TAGS

/tmp/

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/
